body {
	color: #333;
	background: fixed url(../pic/bg60.jpg) no-repeat;
	background-size: cover;
	font: 1em/1.75em Helios, "Helvetica Neue", Arial, sans-serif;

	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

a, a:visited {
	color: #ff5522;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

/* РѕР±С‰РёРµ СЃС‚РёР»Рё РґР»СЏ СЃР°Р№С‚Р° */
.alignCenter { text-align: center; }
.alignLeft { text-align: left; }
.alignRight { text-align: right; }
.alignJustify { text-align: justify; }
.book { text-indent: 28px; }
.floatLeft { float: left; }
.floatRight { float: right; }
.nwrap, .nowrap { white-space: nowrap; }
.strong { font-weight: bold; }
.block { display: block; }
.inline { display: inline; }
.hidden { display: none; }
.clear { clear: both; line-height: 0; height: 0; }

p { margin-bottom: 8px; }
small { font-size: 11px; }
abbr { border-bottom: 1px dotted; }

#menu {
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	padding: 0 1.5em;
	box-sizing: border-box;
}

.site-title {
	float: left;
}

.site-title h1 a {
	font: bold 2em/48px Helios, "Helvetica Neue", Arial, sans-serif;
	text-decoration: none;
	color: #333;
}

.site-title h2 span {
	margin-right: 6px;
	background: rgba(255, 255, 255, .65);
	padding: 2px 4px;
}

.site-menu ul {
	list-style: none;
	float: right;
}

.site-menu ul li {
	display: inline;
}

.site-menu ul li a {
	font: bold 1.25em/60px Helios, "Helvetica Neue", Arial, sans-serif;
	margin: 0 2px;
	padding: 4px 8px;
	text-decoration: none;
}

.site-menu ul li a.active {
	border-bottom: 2px solid;
}

.site-menu ul li a:hover {
	background: #ff5522;
	color: white;
}

#content {
	width: 1000px;
	margin: 0 auto 1.5em;
	padding: 1.5em;
	box-sizing: border-box;
	background: rgba(255, 255, 255, .8);
}

@media screen and (min-width: 601px) {
	#content.index {
		background: none;
	}
}

#content h1 {
	font: 1.25em/2em Helios, "Helvetica Neue", Arial, sans-serif;
	color: #ff5522;
	margin-bottom: 12px;
}

#content ul, #content ol {
	margin-left: 16px;
}

#content img {
	margin: 6px 0;
	border-radius: 12px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

#indexText {
	margin-left: 550px;
	padding: 18px;
	box-sizing: border-box;
	background: rgba(255, 255, 255, .6);
}

@media screen and (max-width: 600px) {
	#content {
		width: auto;
		margin: 1em 0 0;
	}

	#menu {
		width: auto;
		height: auto;
	}

	.site-title {
		display: none;
	}

	.site-menu ul {
		float: none;
	}

	.site-menu ul li a {
		line-height: 2em;
	}

	#indexText {
		margin-left: 0;
		background: none;
	}
}
